<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #app>div {
            padding-top: 10px;
            display: block;
        }
        div>select{
            width:178px;
        }
        div>h4 {
            margin: 0;
            display: inline-block;
        }
        label{
            display: block;
            margin: 20px 0 10px
        }

    </style>
    <title>VUE Dropdown</title>
</head>

<body>
    <h1>Students Details</h1>
    <div id="app">
        <label>Name:</label>
        <input type="text" v-model="name" />
        <span><b>{{ name }}</b></span>
        <label>Age:</label>
        <dropdown :data="ages"></dropdown>
        <label>Father name:</label>
        <input type="text" v-model="fname" />
        <span><b>{{ fname }}</b></span>
        <label>Country:</label>
        <dropdown :data="countries"></dropdown>
        <label>Language:</label>
        <dropdown :data="languages"></dropdown>
    </div>
</body>
<script src="https://unpkg.com/vue"></script>
<script src="javascript.js"></script>
</body>

</html>